*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
    padding-top: 5%;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0) ;
    border-radius: 5px;
}

section{
    height: 100vh;
}

nav{
    position: fixed;
    padding: 10px 0px;
    line-height: 30px;
    width: 100%;
    z-index: 10;
    transition: all 1s;
}

.active{
    transition: all 1s;
    background: #000 
}


.logo{
    margin-left: 20px;
}

.nav__content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    font-style:italic;
}



#logo img {
  height: 5vh;
}

.nav__menu{
   width: 800px;
   margin-right: 100px;
   display: flex;
   justify-content: space-around;
   padding: 5px 0px;
   font-size: 5px;
}

.nav__a{
    color: #f5f5ff;
    font-family: 'Rowdies', sans-serif;
    transition: all 0.5s;
    font-size: 3em;
}

.nav__a:hover{
    color: #808088;
}

#inicio{
    background-image: url(/asets/inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.content{
    font-size: 10px;
    text-align: center;
}

#titulo{
    font-size: 4em;
    color: #f5f5ff;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px #000;
    padding: 5px;
}

span{
    color: #000;
}

#subtitulo{
    padding-top: 5px;
    font-size: 1.5em;
    color: #f5f5ff;
}

/*Nosotros*/

#nosotros{
    background: #ffffff;
}

.h2{
    height: 50px;
    width: 600px;
    margin: 0 auto;
    border-radius: 41px;
    background: #fff;
    box-shadow:  5px 5px 14px #8f8f8f,
                 -5px -5px 14px #ffffff;

    position: relative;
    top: 5%;
    text-overflow: clip;
}

.h2 h2{
    padding-top: 2%;
}
.n__content{
    margin-top: 5%;
    height: 70%;
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.subcontent{
    height: 550px;
    width: 600px;
    border-radius: 41px;
    background: #ffffff;
    box-shadow:  5px 5px 14px #8f8f8f,
                 -5px -5px 14px #ffffff;
}


.subtitulo{
    padding-top: 10px;
    font-size: 2em;
    padding-bottom: 10px;
}

.n__p{
    font-size: 1.7em;
    padding: 0px 20px;
}

.n__img{
    margin-top: 5%;
    height: 45vh;
}

#content1 img{
    margin-top: 7%;
}


/*Servicios*/

#servicios{
    height: 120vh;
}

.s__content{
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;

    margin-top: 7%;
}

.s__subcontent{
    height: 200px;
    width: 250px;
    border-radius: 41px;
    background: #ffffff;
    box-shadow:  5px 5px 14px #8f8f8f,
                 -5px -5px 14px #ffffff;
    text-align: center;
    text-overflow: clip;
}

.personal{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    object-fit: cover;
    position: relative;
    bottom: 30px;
    
}


.s__content2{
    height: 40%;
    width: 100%;
}

.s__subcontent2{
    width: 100%;
    height: 90%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.muestra{
    text-align: center;
}
.icono{
    height: 10vh;
}

/*contacto*/

.c__content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.correo{
    display: flex;
    flex-direction: column;
}

.red{
    color: #000;
}


.icono img{
    height: 10vh; 
}


@media (max-width:1200px){
    .n__content{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}
